<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/loginpwd.css">
</block>
<block name="main">
    <header>
        <div class="header_left">
            <a href="{:U('Set/setIndex')}"><img src="__ROOT__/Public/Home/img/w_back.png" /></a>
        </div>
        <div class="header_middle">
            身份验证
        </div>
        <div class="header_right"></div>
    </header>

    <form>
        <div class="username borders">
            <label><img src="__ROOT__/Public/Home/img/number.png" /></label>
            <input type="number" id="account" readonly="readonly">
        </div>
        <div class="username borders">
            <label><img src="__ROOT__/Public/Home/img/code.png" height="40px" width="40px"/></label>
            <input type="number" id="verify" placeholder="请输入短信验证码">
            <button type="button" class="btn" id="send_verify">发送验证码</button>
        </div>
        <button type="button" style="margin-top: 100px" id="go-check">下一步</button>
    </form>
</block>
<block name="script">
    <script>
        $(function () {
            var m_id = localStorage.getItem('m_id');
            m_id = m_id?m_id:0;
            requestUrl("{:U('Set/ajaxSetIndex')}",{m_id:m_id},function(res){
                if(res.code == -1){
                    localStorage.removeItem('m_id');
                    window.location.href = "{:U('Login/login')}";
                }else if(res.code == 0){
                    alert(res.message);
                }else {
                    $('#account').val(res.data.account);
                }
            });
        });

        //发送短信验证码
        $('#send_verify').click(function(){
            var account = $("#account").val();
            if(account.length == 0){
                alert('请输入手机号');return false;
            }
            requestUrl("{:U('Sms/sendVerify')}",{account:account,send_type:"modify_account"},function(res){
                if(res.code == 0){
                    alert(res.message);
                }else {
                    alert(res.message);
                    var i = 60;
                    var time = setInterval(function(){
                        $('#send_verify').text(i+"s").attr("disabled","true");
                        if (i == 0) {
                            clearInterval(time);
                            $('#send_verify').text("获取验证码").removeAttr("disabled");
                        }
                        --i;
                    },1000);
                }
            });
        });

        //验证短信验证码
        $('#go-check').click(function () {
            var account = $("#account").val();
            var verify = $("#verify").val();
            if(account.length == 0){
                alert('请输入手机号');return false;
            }
            if(verify.length == 0){
                alert('请输入验证码');return false;
            }
            var m_id = localStorage.getItem('m_id');
            m_id = m_id?m_id:0;

            requestUrl("{:U('Set/ajaxModAccountOne')}",{m_id:m_id,account:account,verify:verify},function(res){
                if(res.code == 0){
                    alert(res.message);
                }else {
                    window.location.href="{:U('Set/modAccountTwo')}"
                }
            });
        });

    </script>

</block>