<extend name="Public/base" />

<block name="main">
    <style type="text/css">
        #edui1_iframeholder{
            width: 100% !important;
        }
        select{
            margin-left: 5px;
        }
        .radio{
            padding-top: 5px;
        }
    </style>
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab1">通用信息</a></li>
                    </ul>
                </div>
                <div class="widget-content tab-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Msg/update')}">
                        <input type="hidden" name="model" value="Msg">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="control-group">
                                    <label class="control-label">系统消息标题</label>
                                    <div class="controls">
                                        <input type="text" name="sys_msg_title" value="{$row['sys_msg_title']}" style="width: 600px">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">系统消息内容</label>
                                    <div class="controls">
                                        <textarea name="sys_msg_content">{$row['sys_msg_content']}</textarea>
                                        {:hook('adminArticleEdit', array('name'=>'sys_msg_content','value'=>$row['sys_msg_content']))}
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
