<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/loginpwd.css">
</block>
<block name="main">
<header>
    <div class="header_left">
        <a href="login.html"><img src="__ROOT__/Public/Home/img/w_back.png" /></a>
    </div>
    <div class="header_middle">
        忘记密码
    </div>
    <div class="header_right"></div>
</header>
<form>
    <div class="username borders">
        <label><img src="__ROOT__/Public/Home/img/number.png"  /></label>
        <input type="number" placeholder="请输入手机号" id="account">
    </div>
    <div class="username borders">
        <label><img src="__ROOT__/Public/Home/img/code.png"  /></label>
        <input type="number" placeholder="请输入短信验证码" id="verify">
        <button type="button" class="btn" id="send_verify">发送验证码</button>
    </div>
    <div class="username borders">
        <label><img src="__ROOT__/Public/Home/img/pwd.png" /></label>
        <input type="password" placeholder="请输入密码(至少6位)" id="password">
    </div>
    <div class="username borders">
        <label><img src="__ROOT__/Public/Home/img/pwd.png" /></label>
        <input type="password" placeholder="请再次输入密码" id="re_password">
    </div>
    <div class="juli"></div>

    <button type="button" id="do_forget">提 交</button>
</form>
</block>
<block name="script">
    <script>
        //发送短信验证码
        $('#send_verify').click(function(){
            var account = $("#account").val();
            if(account.length == 0){
                alert('请输入手机号');return false;
            }
            requestUrl("{:U('Sms/sendVerify')}",{account:account,send_type:"forget"},function(res){
                if(res.code == 0){
                    alert(res.message);
                }else {
                    alert(res.message);
                    var i = 60;
                    var time = setInterval(function(){
                        $('#send_verify').text(i+"s").attr("disabled","true");
                        if (i == 0) {
                            clearInterval(time);
                            $('#send_verify').text("获取验证码").removeAttr("disabled");
                        }
                        --i;
                    },1000);
                }
            });
        });

        //执行注册
        $("#do_forget").click(function () {
            var account = $("#account").val();
            var verify = $("#verify").val();
            var password = $("#password").val();
            var re_password = $("#re_password").val();
            if(account.length == 0){
                alert('请输入手机号');return false;
            }
            if(verify.length == 0){
                alert('请输入验证码');return false;
            }
            if(password.length == 0){
                alert('请输入密码');return false;
            }
            if(re_password != password){
                alert('两次输入的密码不一致');return false;
            }
            requestUrl("{:U('Login/ajaxForgetPwd')}",{account:account,verify:verify,password:password},function(res){
                if(res.code == 0){
                    alert(res.message);
                }else {
                    alert(res.message);
                    window.location.href="{:U('Login/login')}";
                }
            });
        })
    </script>
</block>