<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <title>记录详情</title>
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/my.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/common.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/index.css">
</head>
<body>
    <header class="head">
        <div class="header_left">
            <a><img src="__ROOT__/Public/Home/img/b_back.png" /></a>
        </div>
        <div class="header_middle"  >
            详情记录
        </div>
        <div class="header_right"></div>
    </header>
    <div class="coarseLline headtop "></div>
<!--详情记录-->
    <div class="leftright" style="">
        <div class="left seller-info">
            <span style="color: #999999;" >卖家信息:</span><img src=""><span ></span>
        </div>
        <div class="right"></div>
    </div>
    <div class="leftright">
        <div class="left">
            <span style="color: #999999;">交易时间: </span><span class="trade-time">2018/03/03 12:20</span>
        </div>
        <div class="right">
            查看更多<img src="__ROOT__/Public/Home/img/h_more.png" />
        </div>
    </div>
    <div class="leftright">
        <div class="left">
            <span style="color: #999999;">交易款式: </span><span class="trade-num"></span>款
        </div>
        <div class="right">
            <!--fasd-->
        </div>
    </div>
    <div class="fineLine"></div>
    <div>
        <div style="width: 65%;float:left;padding:10px 0px 10px 15px;
         color: #7c7c7c;font-size: 15px">
            <table>
                <tr><td>联系电话:</td><td class="trade-phone"></td></tr>
                <tr>
                    <td style="vertical-align: top"> 公司地址:</td>
                    <td class="trade-address">暂无公司地址信息</td>
                </tr>
            </table>
        </div>
        <a style="width: 30%;float:right;text-align: center " class="tel-phone">
            <img src="__ROOT__/Public/Home/img/phone.png" height="30px" width="30px" style="margin-top: 8px;"/>
        </a>
    </div>
<!--商品名称预购数量报价-->
    <table class="table">
        <tr>
            <th colspan="2" style=" border-right:0px">商品名称</th>
            <th width="25%" >预购数量</th>
            <th width="25%">报价/¥</th>
        </tr>

    </table>
</body>

<script src="__ROOT__/Public/Home/js/jquery-2.1.4.min.js"></script>
<script src="__ROOT__/Public/Home/js/linkto.js"></script>
<script src="__ROOT__/Public/Home/js/network.js"></script>
<script src="__ROOT__/Public/Home/js/util.js"></script>
<script src="__ROOT__/Public/Static/layer/mobile/layer.js"></script>
<script>
    $(function () {
        buyInfo()
    })

    function bindHandler() {
        $(".header_left").click(function () {
            history.go(-1)
        })
    }
    
    function buyInfo() {
        var orderId = getUrlParam('orderId')
        var url = 'Home/Member/buyInfo'

        requestUrl(url, {buy_id:orderId}, function (res) {
            if (res.code == -1) {
                localStorage.removeItem('m_id');
                window.location.href = "{:U('Login/login')}";
            } else if (res.code == 0) {
                layer.open({
                    content: res.message
                    , skin: 'msg'
                    , time: 2 //2秒后自动关闭
                });
            } else {
                var list = res.data.buy;
                var from_member = res.data.from_member
                console.log(from_member)
                $(".seller-info img").attr({'src': from_member.head_pic_path})
                $(".seller-info span:last-of-type").text(from_member.nickname)
                $(".trade-time").text( getDate(list.update_time, 'YY/MM/DD HH:MM'))

                $(".trade-num").text(list.buy_info.length)
                $(".trade-address").text(list.address)
                $(".trade-phone").text(list.mobile)
                $(".tel-phone").prop({'href': 'tel:' + list.mobile})
                $(list.buy_info).each(function (index, item) {
                    $('.table').append('<tr>' +
                        '            <td style="padding-left: 10px; border-right:0px">' +
                        '                <img src="'+item.goods_pic_path+'" />' +
                        '            </td>' +
                        '            <td style="text-align: left">'+item.goods_type_name+'</td>' +
                        '            <td>'+item.number+'件</td>' +
                        '            <td>'+item.buy_price+'</td>' +
                        '        </tr>')
                })
            }
        });
    }
</script>
</html>