<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/my.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/common.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/index.css">
</block>
<block name="main">
    <header class="head">
        <div class="header_left">
            <a href="{:U('Member/myWalletIndex')}"><img src="__ROOT__/Public/Home/img/b_back.png" /></a>
        </div>
        <div class="header_middle"  >
            账户明细
        </div>
        <div class="header_right"></div>
    </header>
    <div class="coarseLline headtop"></div>
    <div class="details padding_tb">
        <div class="datails_item">
            <div class="fontsize3 marginb1">获得-诚意金</div>
            <div class="fontsize5 color3">2017/04/08 12.50</div>
        </div>
        <div class="datails_item">
            <div class="color5 fontsize2">+5.00</div>
        </div>
    </div>
    <div class="details padding_tb">
        <div class="datails_item">
            <div class="fontsize3 marginb1">获得-诚意金</div>
            <div class="fontsize5 color3">2017/04/08 12.50</div>
        </div>
        <div class="datails_item">
            <div class="color5 fontsize2">+5.00</div>
        </div>
    </div>
    <div class="details padding_tb">
        <div class="datails_item">
            <div class="fontsize3 marginb1">支付-诚意金</div>
            <div class="fontsize5 color3">2017/04/08 12.50</div>
        </div>
        <div class="datails_item">
            <div class="color3 fontsize2">-5.00</div>
        </div>
    </div>
    <div class="details padding_tb">
        <div class="datails_item">
            <div class="fontsize3 marginb1">支付-诚意金</div>
            <div class="fontsize5 color3">2017/04/08 12.50</div>
        </div>
        <div class="datails_item">
            <div class="color3 fontsize2">-5.00</div>
        </div>
    </div>
</block>