<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/index.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/common.css">
</block>
<block name="main">
    <!--头部-->
    <header >
        <div class="header_left">
            <a href="javascript:history.go(-1);"><img src="__ROOT__/Public/Home/img/b_back.png" /></a>
        </div>
        <div class="header_middle" style="color: black">
            消息中心
        </div>
        <div class="header_right"></div>
    </header>
    <div class="coarseLline"></div>

    <!--消息列表-->
    <a href="index_xiaoxi_system.html">
        <div class="system">
            <div class="system_left">
                <img src="__ROOT__/Public/Home/img/system.png"  />
            </div>
            <div class="system_right">
                <font>系统通知<span>2017-04-08</span></font>
                <p>尊敬的用户：感谢您对我们的信任与支持！在新的一年里...</p>
            </div>
        </div>
    </a>

    <div class="system">
        <div class="system_left">
            <img src="__ROOT__/Public/Home/img/quanzi.png"  />
        </div>
        <div class="system_right">
            <font>圈子信息<span>2017-04-08</span></font>
            <p>您有一条信息待阅读～</p>
        </div>
    </div>

    <div class="coarseLline"></div>

    <div class="system">
        <div class="system_left">
            <img src="__ROOT__/Public/Home/img/system.png"  />
        </div>
        <div class="system_right">
            <font>UII UII GAMES<span>2017-04-08</span></font>
            <p>这个可不可以</p>
        </div>
    </div>

    <div class="system">
        <div class="system_left">
            <img src="__ROOT__/Public/Home/img/system.png"  />
        </div>
        <div class="system_right">
            <font>飞机笔<span>2017-04-08</span></font>
            <p>600</p>
        </div>
    </div>

    <div class="system">
        <div class="system_left">
            <img src="__ROOT__/Public/Home/img/system.png"  />
        </div>
        <div class="system_right">
            <font>资深顾问 王大锤<span>2017-04-08</span></font>
            <p>你到底买不买 不买我就卖别人了</p>
        </div>
    </div>
</block>