<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <title>消息中心</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/common.css">
<style>
    .ab{
        position: absolute;
    }
    .vip{
        position: relative;
        top: 24px;
        left: 14px;
        width: 27px;
        height: 27px;
    }
    .dot{
        position: relative;
        top: -10px;
        left: 6px;
    }
</style>
</head>
<body>
<!--头部-->
    <header class="head">
        <div class="header_left">
            <a href="index.html"><img src="img/b_back.png" /></a>
        </div>
        <div class="header_middle"  >
            消息中心
        </div>
        <div class="header_right"></div>
    </header>
    <div class="headtop coarseLline"></div>
    <!--消息列表-->
    <a href="xiaoxi_system.html">
        <div class="system">
            <div class="system_left">
                <img src="img/system.png" class="icon_stytem ab">
            </div>
            <div class="system_right">
                <font>系统通知<span>2017-04-08</span></font>
                <p>尊敬的用户：感谢您对我们的信任与支持！在新的一年里...</p>
            </div>
        </div>
    </a>

    <div class="system">
        <div class="system_left">
            <img src="img/quanzi.png" class="icon_stytem ab">
        </div>
        <div class="system_right">
            <font>圈子信息<span>2017-04-08</span></font>
            <p>您有一条信息待阅读～</p>
        </div>
    </div>

    <div class="coarseLline"></div>

    <div class="system">
        <div class="system_left">
            <img src="img/name.png" class="icon_stytem ab">
            <img src="img/VIP.png" class="vip">
            <img src="img/dot.png" class="dot icon_dot" >
        </div>
        <div class="system_right">
            <font>UII UII GAMES<span>2017-04-08</span></font>
            <p>这个可不可以</p>
        </div>
    </div>

   <div class="system">
        <div class="system_left">
            <img src="img/system.png" class="icon_stytem ab">
        </div>
        <div class="system_right">
            <font>飞机笔<span>2017-04-08</span></font>
            <p>600</p>
        </div>
   </div>

    <div class="system">
        <div class="system_left">
            <img src="img/system.png" class="icon_stytem ab">
        </div>
        <div class="system_right">
            <font>资深顾问 王大锤<span>2017-04-08</span></font>
            <p>你到底买不买 不买我就卖别人了</p>
        </div>
    </div>

</body>
</html>