<extend name="Public/base" />

<block name="main">
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab1">通用信息</a></li>
                    </ul>
                </div>
                <div class="widget-content tab-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('SearchWords/update')}">
                        <input type="hidden" name="model" value="SearchWords">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="control-group">
                                    <label class="control-label">关键词</label>
                                    <div class="controls">
                                        <input type="text" name="keywords" value="{$row['keywords']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">类型</label>
                                    <div class="controls">
                                        <select type="text" name="type">
                                            <option value="1" <eq name="row['type']" value="1">selected</eq>>男版</option>
                                            <option value="2" <eq name="row['type']" value="2">selected</eq>>女版</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">搜索页显示</label>
                                    <div class="controls">
                                        <label class="radio">
                                            <input type="radio" name="page_show" value="0" <eq name="row['page_show']" value="0">checked</eq>>否
                                        </label>&nbsp;&nbsp;&nbsp;
                                        <label class="radio">
                                            <input type="radio" name="page_show" value="1" <eq name="row['page_show']" value="1">checked</eq>>是
                                        </label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">搜券界面显示</label>
                                    <div class="controls">
                                        <label class="radio">
                                            <input type="radio" name="quan_show" value="0" <eq name="row['quan_show']" value="0">checked</eq>>否
                                        </label>&nbsp;&nbsp;&nbsp;
                                        <label class="radio">
                                            <input type="radio" name="quan_show" value="1" <eq name="row['quan_show']" value="1">checked</eq>>是
                                        </label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">搜券界面图片</label>
                                    <div class="controls">
                                        {:hook('upload',array('is_first'=>1,'unique_sign'=>'picture','field_name'=>'picture','field_value'=>$row['picture'],'save_path'=>'SearchWords'))}
                                        <span class="help-block">如果设置搜券界面显示，需要设置图片</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">关联搜索词</label>
                                    <div class="controls">
                                        <select type="text" name="related_search_words">
                                            <option value="0">请选择关联搜索词</option>
                                            <volist name="select" id="vo">
                                                <option value="{$vo['id']}" <eq name="row['related_search_words']" value="$vo['id']">selected</eq>>{$vo['keywords']}</option>
                                            </volist>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function () {
            //选项卡切换
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            //根据一级分类获取二级分类
            $("#fir_g_t").change(function () {
                var fir_g_t_id = $('#fir_g_t option:selected').val();
                if(fir_g_t_id == 0){
                    var html=  "<option value='0'>二级分类</option>";
                    $("#sec_g_t").html(html);
                }else {
                    $.ajax({
                        url: "{:U('Goods/ajaxGetGoodsType')}",
                        type: 'post',
                        data: {fir_g_t_id:fir_g_t_id},
                        success: function (data) {
                            var html =  "<option value='0'>二级分类</option>";
                            for (var i = 0; i < data.length; i++) {
                                html +="<option value='"+data[i]['id']+"'>"+data[i]['goods_type_name']+"</option>";
                            }
                            $('#sec_g_t').html(html);
                        }
                    })
                }
            });
            $("#add_extension_type").click(function(){
                $html = $("#select_html").val();
                $('.extension_type_div').append($html);
                return false;
            });
        });
    </script>
</block>
