<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <title>商家详情</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/common.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <style>
        .distance {
            background-color: white;
            height: 270px;
            padding-bottom: 10px;
        }
       .absolute{
            position: absolute;
            width:50px;
            height:50px
        }
       .relation{
            position: relative;
            top: 21px;
            left: 14px;
            width: 35px;
            height: 35px
        }
        .redborder{
            height:35px;
            width:5px;
            position: absolute;
            z-index: 1;
            left: 0px;
        }
       #hear li:nth-of-type(1) {
           width: 30%;
           float: left;
           margin-left: 50px;
       }
       #hear li:nth-of-type(2) {
           width: 30%;
           float: right;
           margin-right: 50px;
       }
        .attentioned {
            position: absolute;
            z-index: 1;
            right: 15px;
            top: 80px;
            font-size: 12px;
            background-color: rgb(255, 255, 255);
            border-radius: 40px 40px 40px 40px;
            color: #dacfcf;
            border: 1px solid #999999;
            width: 50px;
            height: 25px;
        }
    </style>

</head>
<body>
<div class="container">
    <header class="head">
        <div class="header_left">
            <a href="index_VIPbussiness.html">
                <img src="img/b_back.png" />
            </a>
        </div>
        <div class="header_middle color1">
            商家详情
        </div>
    </header>
   <div class="coarseLline headtop"></div>
        <div class="businessDetails_header">
            <img src="img/name.png" class="absolute" />
            <img src="img/VIP.png"  class="relation" />
            <input class="attentioned" type="button" value="已关注" >
            <div class="jituan">
                <label>飞机笔超级集团 </label>
                <input type="button" value="商家认证"><br>
                <span>6666人关注 | 50件商品 | 20条供求</span>
                <p>
                    本公司成立于1988年，位于首都北京拥有各大公司
                    的线下资源，真的是美滋滋！
                </p>
            </div>
        </div>
    <div class="coarseLline"></div>

    <a href="index_VIPbussiness_good1.html"  >
        <div style="padding: 5px 0px 10px 15px;height: 30px;line-height: 40px">
            <span style="color: #ff4c82 ;float: left;font-size: 16px">他的商品</span>
            <img src="img/redborder.png" class="redborder"/>
            <div style="float: right;">
                <span style="font-size: 14px; color: #999999;">
                查看商品
                </span>
                <img src="img/h_more.png" height="25" width="27"/>
            </div>
        </div>
    </a>

    <div class="coarseLline"></div>

    <div class="tab">
        <ul id="hear">
            <li >
                他的供求
            </li>
            <li class="action" style="border-bottom: 2px solid  #FF4C82;  height: 43px;color:	#FF4C82 ">他的帖子</li>
        </ul>
        <ul id="contentop">
            <li >
 <!--他的供求-->
                <div class="sections" >
                    <div class="section_top ">
                        <button>供</button>
                        小可爱专用Possession占有那瓶属于你的美丽瓶子哦，行动不如行动！赶紧联系我吧
                    </div>
                    <div class="section">
                        <div class="section_item">
                            <div class="rongqi" >
                                <img src="img/yangtu.png" /><br>
                                <p class="color1">
                                    这是一段商品名称 <br>
                                    <span>这是...</span><span class="float_r color4" >¥30.00</span>
                                </p>
                            </div>
                        </div>
                        <div class="section_item">
                            <div class="rongqi" >
                                <img src="img/yangtu.png" /><br>
                                <p>
                                    这是一段商品名称 <br>
                                    <span>这是...</span><span class="float_r color4" >¥30.00</span>
                                </p>
                            </div>
                        </div>
                        <div class="section_item">
                            <div class="rongqi" >
                                <img src="img/yangtu.png"  /><br>
                                <p>
                                    这是一段商品名称 <br>
                                    <span>这是...</span><span class="float_r color4" >¥30.00</span>
                                </p>
                            </div>
                        </div>
                        <div class="section_item">
                            <div class="rongqi" >
                                <img src="img/yangtu.png" /><br>
                                <p>
                                    这是一段商品名称 <br>
                                    <span>这是...</span><span class="float_r color4" >¥30.00</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section_buttom">
                        <p>
                            <span class="color3">交易方式:</span><span class="color1">买家自提、商家配送、顺风快递</span><br>
                            <span class="color8">位置:天津</span>
                        </p>
                    </div>
                    <div class="paddingl_2">
                        <img src="img/name.png" class="icon_name"/>
                        <label class="fontsize3"> 飞机笔超级集团</label>
                        <span class="fontsize4 color3">2小时前</span>
                    </div>
                </div>
                    <div class="coarseLline"></div>

               <a href="index.html">
                   <div  class="btnfixed"   >
                       <input type="button" value="对他留言">
                   </div>
               </a>
                <br><br>
            </li>
            <li class="action">
                <!--他的帖子-->
                <div  >
                    <div class="distance">
                        <div class="distance_top">
                            <img src="img/name.png"  >
                            innosoft<span > 8小时前</span>
                        </div>
                        <p>
                            <span  class="biaoti">快看我美不美呀 各位大佬们～</span><br>
                            啦啦啦 今天可高兴啦！因为今天又吃成长快乐啦O(_)O 哈哈 而且今天我还收到了新的礼物
                        </p>
                        <div class="" >
                            <div class="section">
                                <div class="section_item">
                                    <div class="rongqi2" >
                                        <img src="img/watch.png" /><br>
                                    </div>
                                </div>
                                <div class="section_item">
                                    <div class="rongqi2" >
                                        <img src="img/watch.png" /><br>
                                    </div>
                                </div>
                                <div class="section_item">
                                    <div class="rongqi2" >
                                        <img src="img/watch.png"  /><br>
                                    </div>
                                </div>
                                <div class="section_item">
                                    <div class="rongqi2" >
                                        <img src="img/watch.png"  /><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="distance_buttom">
                            <div class="distance_buttom_1">
                            <span  >
                                来自 特色系列
                            </span>
                            </div>
                            <div class="distance_buttom_2">
                                <img src="img/eye.png" />
                                <span>11468</span>
                                <img src="img/z_information.png" />
                                <span>99</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="border-top: 10px solid #F6F6F6;margin-top: 20px">
                    <div class="distance">
                        <div class="distance_top">
                            <img src="img/name.png"  >
                            innosoft<span > 8小时前</span>
                        </div>
                        <p>
                            <span  class="biaoti">快看我美不美呀 各位大佬们～</span><br>
                            啦啦啦 今天可高兴啦！因为今天又吃成长快乐啦O(_)O 哈哈 而且今天我还收到了新的礼物
                        </p>
                        <div class="" >
                            <div class="section">
                                <div class="section_item">
                                    <div class="rongqi2" >
                                        <img src="img/watch.png" /><br>
                                    </div>
                                </div>
                                <div class="section_item">
                                    <div class="rongqi2" >
                                        <img src="img/watch.png" /><br>
                                    </div>
                                </div>
                                <div class="section_item">
                                    <div class="rongqi2" >
                                        <img src="img/watch.png"  /><br>
                                    </div>
                                </div>
                                <div class="section_item">
                                    <div class="rongqi2" >
                                        <img src="img/watch.png"  /><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="distance_buttom">
                            <div class="distance_buttom_1">
                            <span  >
                                来自 特色系列
                            </span>
                            </div>
                            <div class="distance_buttom_2">
                                <img src="img/eye.png" />
                                <span>11468</span>
                                <img src="img/z_information.png" />
                                <span>99</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <a href="index.html">
                    <div  class="btnfixed"   >
                        <input type="button" value="对他留言">
                    </div>
                </a>
            </li>

        </ul>
    </div>

</div>

</body>

    <script>
        <!--选项卡-->
        $(function(){
            $("#hear li").click(function(){
                $(this).css({
                    borderBottom: "2px solid #FF4C82",
                    color : "#FF4C82"
                }).siblings().css({
                    borderBottom: "none",
                    color : "#000000"

                });
            });

            $("#hear li ").click(function(){
                $(this).addClass("action").siblings().removeClass("action");
                var index = $(this).index();
                $("#contentop li").eq(index).css("display","block").siblings().css("display","none");
            });

        });
    </script>
</html>