<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <link rel="stylesheet" href="css/others.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/weui.css">
    <!--选项卡-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
    <title>设置所在位置</title>
</head>
<body>
    <header class="head" style="background-color: white;">
        <div class="header_left">
            <a href="index_release1_gongqiu1.html"><img src="img/b_back.png" /></a>
        </div>
        <div class="header_middle" style="color: black">
            设置交易方式
        </div>
        <div class="header_right"></div>
    </header>
    <div class="weui-cell headtop coarseLline">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">北京</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">上海</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">天津</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">南京</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">深圳</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">广州</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">上海</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">天津</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">南京</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">深圳</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">广州</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">上海</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">天津</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">南京</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">深圳</label>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label fontsize2">广州</label>
        </div>
    </div>
</body>
</html>