<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <title>预购报价单</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/common.css">
    <style>
        *{
            overflow: hidden;
        }
        .input{
            width: 86px;
        }
        .bottom_submit .jia{
            background-color: #ff8b8b;
        }
    </style>
</head>
<body>
    <header class="head">
        <div class="header_left">
            <a href="index_VIPbussiness_good4.html"><img src="img/b_back.png" /></a>
        </div>
        <div class="header_middle"  >
            预购报价单
        </div>
        <div class="header_right"></div>
    </header>
    <table class="table headtop">
        <tr>
            <th colspan="2" style=" border-right:0px">商品名称</th>
            <th width="25%" >库存</th>
            <th width="25%">预购数量</th>
        </tr>
        <tr>
            <td style="padding-left: 10px; border-right:0px">
                <img src="img/name2.png" />
            </td>
            <td style="text-align: left">纪梵希口红禁忌之吻3.3g 05#</td>
            <td>500件</td>
            <td><input type="number" placeholder="输入预购数量" class="input"></td>
        </tr>
        <tr>
            <td style="padding-left: 10px; border-right:0px">
                <img src="img/name2.png" />
            </td>
            <td style="text-align: left">纪梵希口红禁忌之吻3.3g 05#</td>
            <td>500件</td>
            <td><input type="number" placeholder="输入预购数量" class="input"></td>
        </tr>
        <tr>
            <td style="padding-left: 10px; border-right:0px">
                <img src="img/name2.png" />
            </td>
            <td style="text-align: left">纪梵希口红禁忌之吻3.3g 05#</td>
            <td>500件</td>
            <td><input type="number" placeholder="输入预购数量" class="input"></td>
        </tr>
        <tr>
            <td style="padding-left: 10px; border-right:0px">
                <img src="img/name2.png" />
            </td>
            <td style="text-align: left">纪梵希口红禁忌之吻3.3g 05#</td>
            <td>500件</td>
            <td><input type="number" placeholder="输入预购数量" class="input"></td>
        </tr>
        <tr>
            <td style="padding-left: 10px; border-right:0px">
                <img src="img/name2.png" />
            </td>
            <td style="text-align: left">纪梵希口红禁忌之吻3.3g 05#</td>
            <td>500件</td>
            <td><input type="number" placeholder="输入预购数量" class="input"></td>
        </tr>
    </table>
    <div class="bussiness_bottom">
        <div class="bottom_num ">
            <span class="color1 fontsize2">商品款式 :</span>
            <span class="color4 fontsize2">5</span>

        </div>
        <div class="bottom_submit">
            <button >
                <a href="index_VIPbussiness_good6.html " class="color2 fontsize2">同意报价</a>
            </button>
            <button class="jia">
                <a href=" " class="color2 fontsize2">拒绝报价</a>
            </button>
        </div>
    </div>
</body>
</html>