<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <link rel="stylesheet" href="css/others.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/weui.css">
    <!--选项卡-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
    <title>商品展示</title>
    <style>
        .lists {
            width: 100%;
            overflow-x: auto;
            display: flex;
            border-bottom: 1px solid #f6f6f6;
        }
        .lists::-webkit-scrollbar {
            display: none;
        }
        .list_2,.list_3{
            margin-right: 0px;
            width: 90px;
            padding: 5px;
            border-right: 1px solid #f6f6f6;
        }
        .list_1{
            margin-right: 0px;
            width: 60px;
            padding: 5px;
            border-right: 1px solid #f6f6f6;
        }
        .list_2{
            margin-right: 0px;
            width: 160px;
            padding: 5px;
            border-right: 1px solid #f6f6f6;
        }
        .list_21{
            height: 40px;
            float: left;
            padding: 0px 5px
        }
        .list_22{
            height: 100%;
        }
        .height{
            height: 40px;
            line-height: 40px
        }
        .b{
            width: 44%;
            display: block;
            float: left;
            text-align: center;
            height: 35px;
            line-height: 35px;
            border: 1px solid #999999;
            margin: 5px 10px 0px 0px;
        }
    </style>
</head>
<body class="bc3">
    <header class="head" style="background-color: white;">
        <div class="header_left">
            <a href="my_0.html"><img src="img/b_back.png" /></a>
        </div>
        <div class="header_middle" style="color: black">
            商品展示
        </div>
        <div class="header_right"></div>
    </header>
    <div class="lists bc2 fontsize3 headtop coarseLline">
        <div class="list">
            <div class="list_2 text-center">
                商品名称
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center">
                库存
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center">
                货物状态
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center">
                产地
            </div>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd fontsize3 color3">
            <p>纪梵希</p>
        </div>
    </div>

    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div >纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>
    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div >纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>
    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div class="color4">纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__bd fontsize3 color3">
            <p>雅诗兰黛</p>
        </div>
    </div>
    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div class="color4">纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>
    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div >纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>
    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div >纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>
    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div >纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>
    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div class="color4">纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>
    <div class="lists bc2 fontsize3">
        <div class="list">
            <div class="list_2  ">
                <div class="list_21" >
                    <img src="img/name2.png" class="list_22" />
                </div>
                <div >纪梵希口红禁忌之吻3.3g 05#</div>
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height">
                500件
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                现货
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center height" >
                美国
            </div>
        </div>
    </div>
    <br><br>
    <div class="footbut bc2">
        <span class="b  fontsize2 " style="">
            <img src="img/del.png" class="icon_del">删除
        </span>
        <span  class="b  fontsize2   ">
            <img src="img/write.png" class="icon_del">编辑
        </span>
    </div>
</body>
</html>