<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/others.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/my.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/common.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/index.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/weui.css">
    <!--选项卡-->
    <script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-2.1.4.min.js" ></script>
    <title>商品展示</title>
    <style>
        .lists {
            width: 100%;
            overflow-x: auto;
            display: flex;
            border-bottom: 1px solid #f6f6f6;
        }
        .lists::-webkit-scrollbar {
            display: none;
        }
        .list_2,.list_3{
            margin-right: 0px;
            width: 90px;
            padding: 5px;
            border-right: 1px solid #f6f6f6;
        }
        .list_1{
            margin-right: 0px;
            height: 100%;
            width: 60px;
            padding: 5px;
            border-right: 1px solid #f6f6f6;
        }
        .list_2{
            margin-right: 0px;
            width: 160px;
            padding: 5px;
            border-right: 1px solid #f6f6f6;
        }
        .list_21{
            height: 40px;
            float: left;
            padding: 0px 5px
        }
        .list_22{
            height: 100%;
        }
        .height{
            line-height: 40px
        }
        .b{
            width: 44%;
            display: block;
            float: left;
            text-align: center;
            height: 35px;
            line-height: 35px;
            border: 1px solid #999999;
            margin: 5px 10px 0px 0px;
        }
    </style>
</head>
<body class="bc3">
    <header class="head" style="background-color: white;">
        <div class="header_left">
            <a><img src="__ROOT__/Public/Home/img/b_back.png" /></a>
        </div>
        <div class="header_middle" style="color: black">
            商品展示
        </div>
        <div class="header_right"></div>
    </header>
    <div class="lists bc2 fontsize3 headtop coarseLline">
        <div class="list">
            <div class="list_2 text-center">
                商品名称
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center">
                数量
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center">
                货物状态
            </div>
        </div>
        <div class="list">
            <div class="list_1 text-center">
                产地
            </div>
        </div>
    </div>

    <div class="good-list">


    </div>


    <br><br>
    <div class="footbut bc2">
        <span class="b  fontsize2 del" style="">
            <img src="__ROOT__/Public/Home/img/del.png" class="icon_del">删除
        </span>
        <span  class="b  fontsize2 edit ">
            <img src="__ROOT__/Public/Home/img/write.png" class="icon_del">编辑
        </span>
    </div>
</body>
<script src="__ROOT__/Public/Static/layer/mobile/layer.js"></script>
<script src="__ROOT__/Public/Home/js/network.js"></script>
<script src="__ROOT__/Public/Home/js/util.js"></script>
<script>
    $(function () {
        bindHandler()
        var p_id = getUrlParam('pb_id')
        getList(p_id)
    })

    function bindHandler() {
        $('.header_left').click(function () {
            history.go(-1)
        })

        $(".del").click(function () {
            var p_id = getUrlParam('pb_id')
            layer.open({
                content: '确定要删除本商品吗？'
                ,btn: ['确定', '取消']
                ,yes: function(index){
                    layer.close(index);
                    deleteSupply(p_id)
                }
            });
        })

        $('.edit').click(function () {
            var p_id = getUrlParam('pb_id')
            editSupply(p_id)
        })
    }

    function editSupply(pb_id) {
        requestUrl("{:U('Home/Supply/supplyInfo')}",{id:pb_id},function(res){
            if(res.code == -1){
                localStorage.removeItem('m_id');
                window.location.href = "{:U('Login/login')}";
            }else if(res.code == 0){
                layer.open({
                    content: res.message
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
            }else {
                $(res.data.supply_info).each(function (index, item) {
                    var timestamp1 = new Date().getTime();
                    item.id = timestamp1 + Math.floor(Math.random() * (1000 - 1)) + 1
                })
                localStorage.provideData = JSON.stringify(res.data)
                localStorage.PageIndex = 0
                window.location.href = "{:U('Index/index_release1_gongqiu1')}&edit=edit_provide"
            }
        });
    }


    function deleteSupply(pb_id) {
        requestUrl("{:U('Home/Supply/delSupply')}",{id:pb_id},function(res){
            if(res.code == -1){
                localStorage.removeItem('m_id');
                window.location.href = "{:U('Login/login')}";
            }else if(res.code == 0){
                layer.open({
                    content: res.message
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
            }else {
               history.go(-1)
            }
        });
    }

    function getList(pb_id) {
        requestUrl("{:U('Home/Supply/supplyInfo')}",{id:pb_id},function(res){
            if(res.code == -1){
                localStorage.removeItem('m_id');
                window.location.href = "{:U('Login/login')}";
            }else if(res.code == 0){
                layer.open({
                    content: res.message
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
            }else {
                var list = res.data.supply_info
                var ary = {}
                $(list).each(function (index, item) {
                    if(!ary[item.goods_type_name]){
                        ary[item.goods_type_name] = []
                    }
                    ary[item.goods_type_name].push(item)
                })


                for(var key in ary){
                    var li = ary[key]
                    var title = key
                    $(".good-list").append('<div class="weui-cell">' +
                        '            <div class="weui-cell__bd fontsize3 color3">' +
                        '                <p>'+title+'</p>' +
                        '            </div>' +
                        '        </div>')

                    $(li).each(function (index, item) {
                        $(".good-list").append('<div class="lists bc2 fontsize3">' +
                            '            <div class="list">' +
                            '                <div class="list_2  ">' +
                            '                    <div class="list_21" >' +
                            '                        <img src="'+item.goods_pic_path+'" class="list_22" />' +
                            '                    </div>' +
                            '                    <div >'+item.goods_name+'</div>' +
                            '                </div>' +
                            '            </div>' +
                            '            <div class="list">' +
                            '                <div class="list_1 text-center height">' +
                                                item.stock + item.stock_unit+
                            '                </div>' +
                            '            </div>' +
                            '            <div class="list">' +
                            '                <div class="list_1 text-center height" >' +
                                               item.goods_status+
                            '                </div>' +
                            '            </div>' +
                            '            <div class="list">' +
                            '                <div class="list_1 text-center height" >' +
                                                item.product_from +
                            '                </div>' +
                            '            </div>' +
                            '        </div>')
                    })
                }
            }
        });
    }
</script>
</html>