<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <link rel="stylesheet" href="css/others.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/weui.css">
    <!--选项卡-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
    <title>设置所在位置</title>
    <style>
        .shangpin{
            margin: 10px 15px;
        }
        .width {
            padding-right: 38px;
        }
        .re{
            position: relative;
            top: -23px;
            left: -214px;
        }
        .tj{
            position: fixed;
            bottom: 0px;
            width: 100%;
            z-index: 10;
        }
        .tj input{
            width: 100%;
            height: 40px;
            line-height: 40px;
        }
    </style>
</head>
<body class="bc3">
    <header class="head" style="background-color: white;">
        <div class="header_left">
            <a href="index_release1_gongqiu1.html"><img src="img/b_back.png" /></a>
        </div>
        <div class="header_middle" style="color: black">
            设置交易方式
        </div>
        <div class="header_right color6">保存</div>
    </header>
    <div class="headtop coarseLline fontsize4 color3 textcen  padding_tb ">
        <p>从库存中选择商品，进行展示和价钱</p>
        <p>说明（最多展示五件商品）</p>
    </div>
    <div class="shangpin bc2">
        <a class="weui-cell weui-cell_access" href="index_release1_gongqiu5.html">
            <div class="weui-cell__bd fontsize2">
                <span class="width">商品选择</span>
                <span class="color3">请选择商品</span>
                <img src="img/jian.png" class="re icon_del">
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label fontsize2">零售价格</label></div>
            <div class="weui-cell__bd fontsize2">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入零售价格">
            </div>
        </div>
    </div>
    <div class="shangpin bc2">
        <a class="weui-cell weui-cell_access" href="index_release1_gongqiu5.html">
            <div class="weui-cell__bd fontsize2">
                <span class="width">商品选择</span>
                <span class="color3">请选择商品</span>
                <img src="img/jian.png" class="re icon_del">
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label fontsize2">零售价格</label></div>
            <div class="weui-cell__bd fontsize2">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入零售价格">
            </div>
        </div>
    </div>
    <a href="" class="tj">
        <input type="button" value="添加" class="color6 bc2 fontsize2">
    </a>
</body>
</html>