<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Advert/update')}" id="form">
                        <input type="hidden" name="model" value="Advert">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">位置</label>
                            <div class="controls">
                                <select name="ad_position">
                                    <option value="0">请选择位置</option>
                                    <option value="1" <eq name="row['ad_position']" value="1">selected</eq> >首页轮播图</option>
                                </select>
                                <span class="help-block">该图片位置</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">广告图片</label>
                            <div class="controls">
                                {:hook('upload',array('is_first'=>1,'unique_sign'=>'ad_pic','field_name'=>'ad_pic','field_value'=>$row['ad_pic'],'save_path'=>'Advert'))}
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">图片描述</label>
                            <div class="controls">
                                <textarea type="text" name="ad_desc" >{$row['ad_desc']}</textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">跳转类型</label>
                            <div class="controls">
                               <select name="jump_type">
                                   <option value="0">无跳转</option>
                                   <option value="1" <eq name="row['jump_type']" value="1">selected</eq>>商品详情</option>
                                   <option value="2" <eq name="row['jump_type']" value="2">selected</eq>>专场</option>
                                   <option value="3" <eq name="row['jump_type']" value="3">selected</eq>>三方网页链接</option>
                               </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">商品id/专场id/链接地址</label>
                            <div class="controls">
                                <input type="text" name="jump_object" value="{$row['jump_object']}">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">排序</label>
                            <div class="controls">
                                <input type="text" name="sort" value="{$row['sort']}">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>