<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <button class="btn btn-danger confirm ajax-post" url="{:U('NewBagLog/delete',array('model'=>'NewBagLog','status'=>9))}" target-form="ids">删除</button>&nbsp;
                </div>
                <!--// search start-->
                <div class="search-main">
                    <form action="{:U('CheckLog/index')}" method="post" class="form">
                        <div class="search-frame-main">
                            <input class="search-frame" type="text" name="account" value="{$_REQUEST['account']}" placeholder="用户手机号">
                        </div>

                        <div class="search-btn">
                            <button class="btn btn-inverse" style="margin:4px 10px;">查询</button>
                        </div>
                    </form>
                </div>
                <!--// search end-->

                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/></th>
                            <th>ID</th>
                            <th>用户手机号</th>
                            <th>签到获得积分</th>
                            <th>签到时间</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['account']}</td>
                                <td>{$row['integral']}</td>
                                <td>{$row['create_time']|date='Y-m-d',###}</td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
