<extend name="Public/base" />

<block name="main">
    <style type="text/css">
        #edui1_iframeholder{
            width: 100% !important;
        }
        select{
            margin-left: 5px;
        }
        .radio{
            padding-top: 5px;
        }
    </style>
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab1">基本信息</a></li>
                        <li class="#tab2"><a href="#tab2">促销配置</a></li>
                        <li><a href="#tab3">商品详情</a></li>
                    </ul>
                </div>
                <div class="widget-content tab-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Goods/update')}">
                        <input type="hidden" name="model" value="Goods">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="control-group">
                                    <label class="control-label">商品标题</label>
                                    <div class="controls">
                                        <input type="text" name="title" value="{$row['title']}" style="width: 600px">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">商品短标题</label>
                                    <div class="controls">
                                        <input type="text" name="short_title" value="{$row['short_title']}" style="width: 600px">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">商品分类</label>
                                    <div class="controls">
                                        <select  type="text" name="cid" >
                                            <option value="0">请选择商品分类</option>
                                            <volist name="select" id="cate">
                                                <option value="{$cate['id']}"  <eq name="row['goods_type_id']" value="$cate['id']">selected</eq>>{$cate['type_name']}</option>
                                            </volist>
                                        </select>
                                        <span class="help-block">请选择商品的所属分类</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">商品分类：</label>
                                    <div class="controls">
                                        <select id="fir_g_t" name="goods_type_id" class="form-control input-sm">
                                            <option value="">一级分类</option>
                                            <volist name="fir_g_t_list" id="fir_g_t">
                                                <option value="{$fir_g_t['id']}" <eq name="row['goods_type_id']" value="$fir_g_t['id']">selected</eq> >{$fir_g_t['type_name']}</option>
                                            </volist>
                                        </select>
                                        <select id="sec_g_t" name="sec_goods_type_id" class="form-control input-sm">
                                            <option value="0">二级分类</option>
                                            <volist name="row['sec_g_t_list']" id="sec_g_t">
                                                <option value="{$sec_g_t['id']}" <eq name="row['sec_goods_type_id']" value="$sec_g_t['id']">selected</eq>>{$sec_g_t['type_name']}</option>
                                            </volist>
                                        </select>
                                        <select id="thr_g_t" name="thr_goods_type_id" class="form-control input-sm">
                                            <option value="0">三级分类</option>
                                            <volist name="row['sec_g_t_list']" id="sec_g_t">
                                                <option value="{$sec_g_t['id']}" <eq name="row['thr_goods_type_id']" value="$sec_g_t['id']">selected</eq>>{$sec_g_t['type_name']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">商品店铺类型</label>
                                    <div class="controls">
                                        <select  type="text" name="shop_type" >
                                            <option value="0">请选择商品店铺类型</option>
                                            <option value="1"  <eq name="row['shop_type']" value="1">selected</eq>>天猫</option>
                                            <option value="2"  <eq name="row['shop_type']" value="2">selected</eq>>淘宝</option>
                                        </select>
                                        <span class="help-block">请选择商品的店铺所属分类</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">原价</label>
                                    <div class="controls">
                                        <input type="text" name="coupon_price" value="{$row['coupon_price']}">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">券金额</label>
                                    <div class="controls">
                                        <input type="text" name="quan" value="{$row['quan']}">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">券后价</label>
                                    <div class="controls">
                                        <input type="text" name="coupon_quan_price" value="{$row['coupon_quan_price']}">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">优惠券总量</label>
                                    <div class="controls">
                                        <input type="text" name="quan_count" value="{$row['quan_count']}">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">商品主图</label>
                                    <div class="controls">
                                        <input type="text" name="goods_logo" value="{$row['goods_logo']}" style="width: 600px"><br/>
                                        <img src="{$row['goods_logo']}" width="400px" height="400px"/>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">淘宝商品id</label>
                                    <div class="controls">
                                        <input type="text" name="num_iid"  value="{$row['num_iid']}"  >
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">销量</label>
                                    <div class="controls">
                                        <input type="text" name="volume" value="{$row['volume']}">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">商品url</label>
                                    <div class="controls">
                                        <input type="text" name="url"  value="{$row['url']}"  >
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">佣金比例</label>
                                    <div class="controls">
                                        <input type="text" name="commission_rate"  value="{$row['commission_rate']}"  >
                                        <span class="help-block">除以100 为百分比</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">优惠券开始时间</label>
                                    <div class="controls">
                                        <input type="text" name="coupon_start_time" class="form_date_picker" value="{$row['coupon_start_time']|date='Y-m-d H:i:s',###}"  >
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">优惠券结束时间</label>
                                    <div class="controls">
                                        <input type="text" name="coupon_end_time"  class="form_date_picker" value="{$row['coupon_end_time']|date='Y-m-d H:i:s',###}"  >
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="control-group">
                                    <label class="control-label">精选</label>
                                    <div class="controls">
                                        <label class="radio">
                                            <input type="radio" name="is_featured" value="0" <eq name="row['is_featured']" value="0">checked</eq>>否
                                        </label>&nbsp;&nbsp;&nbsp;
                                        <label class="radio">
                                            <input type="radio" name="is_featured" value="1" <eq name="row['is_featured']" value="1">checked</eq>>是
                                        </label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">推荐</label>
                                    <div class="controls">
                                        <label class="radio">
                                            <input type="radio" name="is_recommend" value="0" <eq name="row['is_recommend']" value="0">checked</eq>>否
                                        </label>&nbsp;&nbsp;&nbsp;
                                        <label class="radio">
                                            <input type="radio" name="is_recommend" value="1" <eq name="row['is_recommend']" value="1">checked</eq>>是
                                        </label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">限时特惠</label>
                                    <div class="controls">
                                        <label class="radio">
                                            <input type="radio" name="is_time_limit" value="0" <eq name="row['is_time_limit']" value="0">checked</eq>>否
                                        </label>&nbsp;&nbsp;&nbsp;
                                        <label class="radio">
                                            <input type="radio" name="is_time_limit" value="1" <eq name="row['is_time_limit']" value="1">checked</eq>>是
                                        </label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">品牌好货</label>
                                    <div class="controls">
                                        <label class="radio">
                                            <input type="radio" name="is_brand_goods" value="0" <eq name="row['is_brand_goods']" value="0">checked</eq>>否
                                        </label>&nbsp;&nbsp;&nbsp;
                                        <label class="radio">
                                            <input type="radio" name="is_brand_goods" value="1" <eq name="row['is_brand_goods']" value="1">checked</eq>>是
                                        </label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">专场</label>
                                    <div class="controls">
                                        <select type="text" name="stage_id">
                                            <option value="0">请选择专场</option>
                                            <volist name="stage" id="vo">
                                                <option value="{$vo['id']}" <eq name="row['stage_id']" value="$vo['id']">selected</eq>>{$vo['stage_name']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <div class="control-group">
                                    <label class="control-label">商品详情</label>
                                    <div class="controls">
                                        <textarea name="content">{$row['content']}</textarea>
                                        {:hook('adminArticleEdit', array('name'=>'content','value'=>$row['content']))}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function () {
            //选项卡切换
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $("#fir_g_t").change(function () {
                var fir_g_t_id = $('#fir_g_t option:selected').val();
                console.log(fir_g_t_id);
                if(fir_g_t_id == 0){
                    var html=  "<option value='0'>二级分类</option>";
                    $("#sec_g_t").html(html);
                    html=  "<option value='0'>三级分类</option>";
                    $("#thr_g_t").html(html);
                }else {
                    $.ajax({
                        url: "{:U('Goods/ajaxGetGoodsType')}",
                        type: 'post',
                        data: {fir_g_t_id:fir_g_t_id},
                        success: function (data) {
                            var html =  "<option value='0'>二级分类</option>";
                            for (var i = 0; i < data.length; i++) {
                                html +="<option value='"+data[i]['id']+"'>"+data[i]['type_name']+"</option>";
                            }
                            $('#sec_g_t').html(html);
                            html=  "<option value='0'>三级分类</option>";
                            $("#thr_g_t").html(html);
                        }
                    })
                }
            });
            $("#sec_g_t").change(function () {
                var sec_g_t_id = $('#sec_g_t option:selected').val();
                if(sec_g_t_id == 0){
                    var html=  "<option value='0'>三级分类</option>";
                    $("#thr_g_t").html(html);
                }else {
                    $.ajax({
                        url: "{:U('Goods/ajaxGetGoodsTypeTwo')}",
                        type: 'post',
                        data: {sec_g_t_id:sec_g_t_id},
                        success: function (data) {
                            var html =  "<option value='0'>三级分类</option>";
                            for (var i = 0; i < data.length; i++) {
                                html +="<option value='"+data[i]['id']+"'>"+data[i]['type_name']+"</option>";
                            }
                            $('#thr_g_t').html(html);
                        }
                    })
                }
            });
            $("#add_extension_type").click(function(){
                $html = $("#select_html").val();
                $('.extension_type_div').append($html);
                return false;
            });
        });
    </script>
</block>
