<extend name="Public/base" />

<block name="main">
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab1">通用信息</a></li>
                    </ul>
                </div>
                <div class="widget-content tab-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Lottery/update')}">
                        <input type="hidden" name="model" value="Lottery">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="control-group">
                                    <label class="control-label">奖品1类型</label>
                                    <div class="controls">
                                        <select name="first_type">
                                            <option value="0" <eq name="row['first_type']" value="0">selected</eq>>谢谢参与</option>
                                            <option value="1" <eq name="row['first_type']" value="1">selected</eq>>积分</option>
                                            <option value="2" <eq name="row['first_type']" value="2">selected</eq>>她他币</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品1数量</label>
                                    <div class="controls">
                                        <input type="text" name="first_prize" value="{$row['first_prize']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品1概率</label>
                                    <div class="controls">
                                        <input type="text" name="first_pro" value="{$row['first_pro']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">奖品2类型</label>
                                    <div class="controls">
                                        <select name="sec_type">
                                            <option value="0" <eq name="row['sec_type']" value="0">selected</eq>>谢谢参与</option>
                                            <option value="1" <eq name="row['sec_type']" value="1">selected</eq>>积分</option>
                                            <option value="2" <eq name="row['sec_type']" value="2">selected</eq>>她他币</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品2数量</label>
                                    <div class="controls">
                                        <input type="text" name="sec_prize" value="{$row['sec_prize']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品2概率</label>
                                    <div class="controls">
                                        <input type="text" name="sec_pro" value="{$row['sec_pro']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">奖品3类型</label>
                                    <div class="controls">
                                        <select name="thr_type">
                                            <option value="0" <eq name="row['thr_type']" value="0">selected</eq>>谢谢参与</option>
                                            <option value="1" <eq name="row['thr_type']" value="1">selected</eq>>积分</option>
                                            <option value="2" <eq name="row['thr_type']" value="2">selected</eq>>她他币</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品3数量</label>
                                    <div class="controls">
                                        <input type="text" name="thr_prize" value="{$row['thr_prize']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品3概率</label>
                                    <div class="controls">
                                        <input type="text" name="thr_pro" value="{$row['thr_pro']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">奖品4类型</label>
                                    <div class="controls">
                                        <select name="four_type">
                                            <option value="0" <eq name="row['four_type']" value="0">selected</eq>>谢谢参与</option>
                                            <option value="1" <eq name="row['four_type']" value="1">selected</eq>>积分</option>
                                            <option value="2" <eq name="row['four_type']" value="2">selected</eq>>她他币</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品4数量</label>
                                    <div class="controls">
                                        <input type="text" name="four_prize" value="{$row['four_prize']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品4概率</label>
                                    <div class="controls">
                                        <input type="text" name="four_pro" value="{$row['four_pro']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">奖品5类型</label>
                                    <div class="controls">
                                        <select name="five_type">
                                            <option value="0" <eq name="row['five_type']" value="0">selected</eq>>谢谢参与</option>
                                            <option value="1" <eq name="row['five_type']" value="1">selected</eq>>积分</option>
                                            <option value="2" <eq name="row['five_type']" value="2">selected</eq>>她他币</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品5数量</label>
                                    <div class="controls">
                                        <input type="text" name="five_prize" value="{$row['five_prize']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品5概率</label>
                                    <div class="controls">
                                        <input type="text" name="five_pro" value="{$row['five_pro']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">奖品6类型</label>
                                    <div class="controls">
                                        <select name="six_type">
                                            <option value="0" <eq name="row['six_type']" value="0">selected</eq>>谢谢参与</option>
                                            <option value="1" <eq name="row['six_type']" value="1">selected</eq>>积分</option>
                                            <option value="2" <eq name="row['six_type']" value="2">selected</eq>>她他币</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品6数量</label>
                                    <div class="controls">
                                        <input type="text" name="six_prize" value="{$row['six_prize']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">奖品6概率</label>
                                    <div class="controls">
                                        <input type="text" name="six_pro" value="{$row['six_pro']}" >
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
