<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('GoodsType/update')}">
                        <input type="hidden" name="model" value="GoodsType">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">分类名称</label>
                            <div class="controls">
                                <input type="text" name="type_name" value="{$row['type_name']}">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">上级分类</label>
                            <div class="controls">
                                {$select}
                                <span class="help-block">父级分类:分类三级内有效</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">商品分类图片</label>
                            <div class="controls">
                                {:hook('upload',array('is_first'=>1,'unique_sign'=>'type_picture','field_name'=>'type_picture','field_value'=>$row['type_picture'],'save_path'=>'GoodsType'))}
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">跳转模板</label>
                            <div class="controls">
                                <select name="jump_template">
                                    <option value="0" <eq name="row['jump_template']" value="0">selected</eq>>普通模板</option>
                                    <option value="1" <eq name="row['jump_template']" value="1">selected</eq>>模板1</option>
                                    <option value="2" <eq name="row['jump_template']" value="2">selected</eq>>模板2</option>
                                    <option value="3" <eq name="row['jump_template']" value="3">selected</eq>>模板3</option>
                                    <option value="4" <eq name="row['jump_template']" value="4">selected</eq>>模板4</option>
                                </select>
                                <span class="help-block">二级分类选择有效</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">banner图</label>
                            <div class="controls">
                                {:hook('upload',array('unique_sign'=>'banner','field_name'=>'banner','field_value'=>$row['banner'],'save_path'=>'GoodsType'))}
                                <span class="help-block">模板1-4有效，普通模板无效</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">排序</label>
                            <div class="controls">
                                <input type="text" name="sort" value="{$row['sort']}" class="number-only">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
