<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/index.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/others.css">
    <style>
        .attention{
            margin-top: 12px ;
            background-color: #ffffff;
            border-radius: 40px 40px 40px 40px;
            color: #999999;
            border: 1px solid #999999;
            font-size: 12px;
            width: 50px;
            height: 25px;
        }
    </style>
</block>
<block name="main">
    <header >
        <div class="header_left">
            <a href="{:U('Member/memberCenter')}"><img src="__ROOT__/Public/Home/img/b_back.png" /></a>
        </div>
        <div class="header_middle color1">
            我的关注
        </div>
    </header>
    <div class="coarseLline"></div>
    <div class="tab">
        <ul id="hear">
            <li class="action" style="border-bottom: 2px solid 	#FF4C82;height: 43px;color:	#FF4C82 ">
                VIP商家
            </li>
            <li> 商家 </li>
            <li> 用户 </li>
        </ul>
        <ul id="contentop">
            <li class="action">
                <div style="border-top: 10px solid #F6F6F6;">
                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name.png" class="absolute" />
                                <img src="__ROOT__/Public/Home/img/VIP.png"  class="relation" />
                            </div>
                            <div class="VIPbusiness_middle">
                                飞机笔超级集团  <input type="button" value="商家认证"><br>
                                <span>66人关注|50件商品|20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                 <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name.png" class="absolute" />
                                <img src="__ROOT__/Public/Home/img/VIP.png"  class="relation" />
                            </div>
                            <div class="VIPbusiness_middle">
                                飞机笔超级集团  <input type="button" value="商家认证"><br>
                                <span>66人关注|50件商品|20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name.png" class="absolute" />
                                <img src="__ROOT__/Public/Home/img/VIP.png"  class="relation" />
                            </div>
                            <div class="VIPbusiness_middle">
                                飞机笔超级集团  <input type="button" value="商家认证"><br>
                                <span>66人关注|50件商品|20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name.png" class="absolute" />
                                <img src="__ROOT__/Public/Home/img/VIP.png"  class="relation" />
                            </div>
                            <div class="VIPbusiness_middle">
                                飞机笔超级集团  <input type="button" value="商家认证"><br>
                                <span>66人关注|50件商品|20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name.png" class="absolute" />
                                <img src="__ROOT__/Public/Home/img/VIP.png"  class="relation" />
                            </div>
                            <div class="VIPbusiness_middle">
                                飞机笔超级集团  <input type="button" value="商家认证"><br>
                                <span>66人关注|50件商品|20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name.png" class="absolute" />
                                <img src="__ROOT__/Public/Home/img/VIP.png"  class="relation" />
                            </div>
                            <div class="VIPbusiness_middle">
                                飞机笔超级集团  <input type="button" value="商家认证"><br>
                                <span>66人关注|50件商品|20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name.png" class="absolute" />
                                <img src="__ROOT__/Public/Home/img/VIP.png"  class="relation" />
                            </div>
                            <div class="VIPbusiness_middle">
                                飞机笔超级集团  <input type="button" value="商家认证"><br>
                                <span>66人关注|50件商品|20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>
                </div>
            </li>
            <li>
                <div style="border-top: 10px solid #F6F6F6;"></div>
            </li>
            <li>
                <div style="border-top: 10px solid #F6F6F6;">
                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name3.png" class="absolute" />

                            </div>
                            <div class="VIPbusiness_middle">
                                资深老饕 <br>
                                <span>66人关注 | 20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name3.png" class="absolute" />

                            </div>
                            <div class="VIPbusiness_middle">
                                资深老饕 <br>
                                <span>66人关注 | 20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name3.png" class="absolute" />

                            </div>
                            <div class="VIPbusiness_middle">
                                资深老饕 <br>
                                <span>66人关注 | 20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name3.png" class="absolute" />

                            </div>
                            <div class="VIPbusiness_middle">
                                资深老饕 <br>
                                <span>66人关注 | 20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name3.png" class="absolute" />

                            </div>
                            <div class="VIPbusiness_middle">
                                资深老饕 <br>
                                <span>66人关注 | 20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name3.png" class="absolute" />

                            </div>
                            <div class="VIPbusiness_middle">
                                资深老饕 <br>
                                <span>66人关注 | 20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>

                    <a href="#">
                        <div class="VIPbusiness">
                            <div class="VIPbusiness_left">
                                <img src="__ROOT__/Public/Home/img/name3.png" class="absolute" />

                            </div>
                            <div class="VIPbusiness_middle">
                                资深老饕 <br>
                                <span>66人关注 | 20条供求</span>
                            </div>
                            <div class="VIPbusiness_right">
                                <input class="attention" type="button" value="已关注">
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #F6F6F6;margin-left: 10px"></div>
                    </a>
                </div>

            </li>
        </ul>
    </div>
</block>
<block name="script">
    <script>
        <!--选项卡-->
        $(function(){
            $("#hear li").click(function(){
                $(this).css({
                    borderBottom: "2px solid #FF4C82",
                    color : "#FF4C82"
                }).siblings().css({
                    borderBottom: "none",
                    color : "#000000"
                });
            });

            $("#hear li ").click(function(){
                $(this).addClass("action").siblings().removeClass("action");
                var index = $(this).index();
                $("#contentop li").eq(index).css("display","block").siblings().css("display","none");
            });
        });
    </script>
</block>