<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"  >
    <link rel="stylesheet" href="css/others.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <!--选项卡-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
    <link rel="stylesheet" href="css/weui.css">
    <title>我要发帖</title>
    <style>
        .re{
            position: relative;
            top: -79px;
            left: 0px;
        }
        .button_t{
            width: 94%;
            left: 3%;
            height: 40px;
            line-height: 40px;
            position: fixed;
            bottom: 10px;
            border-radius: 4px;
        }
        .weui-media-box__title{
            font-size: 14px;
        }
        .weui-media-box__desc{
            font-size: 12px;
        }
    </style>
</head>
<body class="bc3">
    <header class="head" style="background-color: white;">
        <div class="header_left">
            <a href="interest_fenlei1.html"><img src="img/b_back.png" /></a>
        </div>
        <div class="header_middle" >
            我要发帖
        </div>
        <div class="header_right"></div>
    </header>
    <div class="headtop coarseLline">
        <div class="weui-panel">
            <div class="weui-panel__hd ">
                <h4 class="weui-media-box__title color1">标题4-25字符</h4>
            </div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc ">
                        <textarea class="color3">帖子人工审核后会出现，违规内容一经发现，会被封号。10-700字</textarea>
                    </p>
                    <ul class="weui-media-box__info">
                        <li class="weui-uploader__file">
                            <img src="img/cat.png" >
                            <img src="img/jian.png" class="re icon_del"  >
                        </li>
                        <li class="weui-uploader__file">
                            <img src="img/cat.png"  >
                            <img src="img/jian.png" class="re icon_del"  >
                        </li>
                        <li class="weui-uploader__file">
                            <img src="img/cat.png"  >
                            <img src="img/jian.png" class="re icon_del"  >
                        </li>
                        <li class="weui-uploader__file">
                            <img src="img/cat.png"  >
                            <img src="img/jian.png" class="re icon_del"  >
                        </li>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderCustomInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button class="color2 bc5 button_t fontsize2">提交</button>
</body>
</html>