<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/index.css">
    <link rel="stylesheet" href="__ROOT__/Public/Home/css/common.css">
</block>
<block name="header_script">
    <script src="__ROOT__/Public/Home/js/swiper.min.js"></script>
</block>
<block name="main">
    <header >
        <div class="header_left">
            <!--<a href="my.html"><img src="__ROOT__/Public/Home/img/b_back.png" /></a>-->
            &nbsp;
        </div>

        <div class="header_middle color1">
            兴趣圈
        </div>
        <!--<div class="header_right">-->
            <img src="__ROOT__/Public/Home/img/h_information.png" class="xiaoxi" linkto="{:U('Msg/msgIndex')}"/>
            <img src="__ROOT__/Public/Home/img/dot.png" class="dot"/>
        <!--</div>-->
    </header>
    <div class="fineLine"></div>
    <div class="inter">
        <div class="inter_item">
            <div class="inter_list">
                <img src="__ROOT__/Public/Home/img/name4.png">
                <p class="color3 fontsize3">寄情山水</p>
                <div class="mengban">
                    666人参与&nbsp;
                </div>
            </div>
        </div>
        <div class="inter_item">
            <div class="inter_list">
                <img src="__ROOT__/Public/Home/img/name4.png">
                <p class="color3 fontsize3">寄情山水</p>
                <div class="mengban">
                    666人参与&nbsp;
                </div>
            </div>
        </div>
        <div class="inter_item">
            <div class="inter_list">
                <img src="__ROOT__/Public/Home/img/name4.png">
                <p class="color3 fontsize3">寄情山水</p>
                <div class="mengban">
                    666人参与&nbsp;
                </div>
            </div>
        </div>
        <div class="inter_item">
            <div class="inter_list">
                <img src="__ROOT__/Public/Home/img/name4.png">
                <p class="color3 fontsize3">寄情山水</p>
                <div class="mengban">
                    666人参与&nbsp;
                </div>
            </div>
        </div>
        <div class="inter_item">
            <div class="inter_list">
                <img src="__ROOT__/Public/Home/img/name4.png">
                <p class="color3 fontsize3">寄情山水</p>
                <div class="mengban">
                    666人参与&nbsp;
                </div>
            </div>
        </div>
        <div class="inter_item">
            <div class="inter_list">
                <img src="__ROOT__/Public/Home/img/name4.png">
                <p class="color3 fontsize3">寄情山水</p>
                <div class="mengban">
                    666人参与&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="coarseLline"></div>
    <div class="distance">
        <div class="distance_top">
            <img src="__ROOT__/Public/Home/img/name.png"  >
            innosoft<span > 8小时前</span>
        </div>
        <p>
            <span  class="biaoti">快看我美不美呀 各位大佬们～</span><br>
            啦啦啦 今天可高兴啦！因为今天又吃成长快乐啦O(_)O 哈哈 而且今天我还收到了新的礼物
        </p>
        <div class="" >
            <div class="section">
                <div class="section_item">
                    <div class="rongqi2" >
                        <img src="__ROOT__/Public/Home/img/watch.png" /><br>
                    </div>
                </div>
                <div class="section_item">
                    <div class="rongqi2" >
                        <img src="__ROOT__/Public/Home/img/watch.png" /><br>
                    </div>
                </div>
                <div class="section_item">
                    <div class="rongqi2" >
                        <img src="__ROOT__/Public/Home/img/watch.png"  /><br>
                    </div>
                </div>
                <div class="section_item">
                    <div class="rongqi2" >
                        <img src="__ROOT__/Public/Home/img/watch.png"  /><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="distance_buttom">
            <div class="distance_buttom_1">
                            <span  >
                                来自 特色系列
                            </span>
            </div>
            <div class="distance_buttom_2">
                <img src="__ROOT__/Public/Home/img/eye.png" />
                <span>11468</span>
                <img src="__ROOT__/Public/Home/img/z_information.png" />
                <span>99</span>
            </div>
        </div>
    </div>

    <div style="border-top: 10px solid #F6F6F6;margin-top:20px">
        <div class="distance">
            <div class="distance_top">
                <img src="__ROOT__/Public/Home/img/name.png"  >
                innosoft<span > 8小时前</span>
            </div>
            <p>
                <span class="biaoti" >快看我美不美呀 各位大佬们～</span><br>
                啦啦啦 今天可高兴啦！因为今天又吃成长快乐啦O(_)O 哈哈 而且今天我还收到了新的礼物
            </p>
            <div class="" >
                <div class="section">
                    <div class="section_item">
                        <div class="rongqi2" >
                            <img src="__ROOT__/Public/Home/img/watch.png" /><br>
                        </div>
                    </div>
                    <div class="section_item">
                        <div class="rongqi2" >
                            <img src="__ROOT__/Public/Home/img/watch.png" /><br>
                        </div>
                    </div>
                    <div class="section_item">
                        <div class="rongqi2" >
                            <img src="__ROOT__/Public/Home/img/watch.png"  /><br>
                        </div>
                    </div>
                    <div class="section_item">
                        <div class="rongqi2" >
                            <img src="__ROOT__/Public/Home/img/watch.png"  /><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="distance_buttom">
                <div class="distance_buttom_1">
                            <span  >
                                来自 特色系列
                            </span>
                </div>
                <div class="distance_buttom_2">
                    <img src="__ROOT__/Public/Home/img/eye.png" />
                    <span>11468</span>
                    <img src="__ROOT__/Public/Home/img/z_information.png" />
                    <span>99</span>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>

<!--尾部-->
        <footer>
            <div class="footer_item">
                <a href="{:U('Index/index')}">
                    <img src="__ROOT__/Public/Home/img/home_0.png"  />
                    <div >首页</div>
                </a>
            </div>
            <div class="footer_item">
                <a href="{:U('Interest/interestIndex')}">
                    <img src="__ROOT__/Public/Home/img/empty_1.png" />
                    <div class="active ">兴趣圈</div>
                </a>
            </div>
            <div class="footer_item">
                <a href="{:U('Member/memberCenter')}">
                    <img src="__ROOT__/Public/Home/img/my0.png"  />
                    <div>我的</div>
                </a>
            </div>
        </footer>
</block>