/*app*/
@charset "utf-8";
*{margin:0;padding:0;outline:0 none;border:0 none;-webkit-text-size-adjust:none;}
img{vertical-align:middle;-ms-interpolation-mode:bicubic;max-width: 100%}
p{margin: 0px;}
input::-ms-clear{display:none}
input::-ms-reveal{display:none}
button,input,select,textarea{font-size:100%;vertical-align:middle;outline:0;font-family:"microsoft yahei"}
button,input[type=button],input[type=text],input[type=reset],input[type=submit]{-webkit-appearance:none;display:initial;cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
.btn.active, .btn:active,.btn.focus, .btn:focus, .btn:hover {background-image: none;-webkit-box-shadow:none; box-shadow: none;color: #FFFFff;
}
/*首页*/
.container{
    width: 100%;
}
a{
    text-decoration: none;
}
 /*头部*/
header{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: black;
    background-color: white;
}
header .header_left{
    float: left;
    width: 20%;
    text-align: left;
}
header .header_left img{
    width: 30px;
    height: 30px;
}
header .header_middle{
    float: left;
    width: 60%;
    text-align: center;
    font-size:18px;
    color: black;
}
header .header_right{
    float: right;
    width: 10%;
    text-align: right;
    padding-right: 15px;
    font-size: 16px;
}
header .header_right a{
    color: white;
}


/*搜索*/
.search{
    display: flex;
    height: 43px;
    line-height: 43px;
    padding: 0 15px;
    margin-bottom: 10px;
}
.search .search_a{
    width: 94%;
    /*background-color: cyan;*/
}
.search .search_b{
    width: 10%;
    float: right;
    text-align: right;
}

.search .search_a a img{
    position: absolute;
    left: 30%;
    top:58px;
    width: 20px;
    height: 20px;
}
.search input{
    text-align: center;
    width: 100%;
    height: 30px;
    margin-top: 4px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 43px 43px 43px 43px;
    font-size: 14px;
    color: #333333;
}
.s{
    margin-top: 8px;
    width: 35px;
    height: 30px;
}
.biaoti{
    font-size: 16px;
    color: black;
}
/*消息和点关系*/
.xiaoxi{
    position: absolute;
    width: 30px;
    height: 30px;
    padding-left: 0px;
    padding-top: 10px;
}

.dot{
    width: 5px;
    height: 5px;
    position: relative;
    top: -10px;
    left: 19px;

}
.icon-logo{
    width: 18px;
    height: 18px;
}
/*产品*/
.product{
    width: 100%;
    margin: 10px 0px;
    display: flex;
}
.product .item{
    width: 25%;
    text-align: center;
    height:85px;
}

.product .item img{
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
}
.product .item div{
    font-size: 14px;
    color: #333333;
}
/*主体内容*/
article{

}
/*推荐VIP商家*/
.artcle_1{
    background-color: #f6f6f6;
    height: 200px;
}
.artcle_1 .top{
    text-align: center;
    overflow: hidden;
    margin: 5px 0;
    padding-top: 1px;
    height: 40px;
    line-height: 40px;
}
.mains {
    width: 100%;
    overflow-x: auto;
    display: flex;
}
.main{
    margin-right: 10px;
    width: 100%;
    margin-left: 10px;
}
.mains::-webkit-scrollbar {
    display: none;
}
.main .list{
    width: 90px;
    text-align: center;
    padding-bottom: 10px;
    background-color: white;
    padding-top: 15px;
}
.main .list img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.main .list p{
    font-size: 14px;
}
.yichu{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*供求信息*/
.gongqiu{
    height: 40px;
    line-height:40px;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede
}
.gongqiu span:first-child{
    float: left;color: #333
}
.gongqiu span:last-child{
    float: right;
    color: #999;
    font-size: 15px
}
.more{
    float: right;
    margin-right: 5px;
}
.sections{
    /*border-top: 10px solid #F6F6F6;*/
    width: 100%;
    padding-bottom: 10px;
}
.section{
    width: 100%;
    overflow-x: auto;
    display: flex;
}
.section_top{
    font-size: 16px;
    padding: 5px 15px;
}
.section_top button{
    background-color:#ff4c82;
    color:white;
    height: 20px;
    width:20px;
    font-size: 16px;
    border-radius:4px;
    margin-right: 5px;
}
.paddingl_2{
    height: 40px;
    line-height: 40px;
}
.section_buttom{
    padding: 5px 15px 5px 0px;
    margin-left: 10px;
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
}
.section_buttom p{
    color: #999999;
    font-size: 15px;
    line-height: 1.4em;
}
.section_item{
    font-size: 14px;
    /*margin-right: 10px;*/
    margin-left: 15px;
}
/*父容器去掉滚动条*/
.section::-webkit-scrollbar {
    display: none;
}
.section_item .rongqi{
    width: 90px;
    height: 155px;
    padding-top: 10px;
    border-radius: 8px 8px 8px 8px;
}
.section_item .rongqi p,.section_buttom p{
    /*padding-top: 5px;*/
    line-height: 1.8em;
    /*color: #999999;*/
}

/*尽在咫尺*/
.distance{
    background-color: white;
    height: auto;
    padding-bottom: 10px;
}
.distance p{
    padding: 10px 10px;
    line-height: 1.4em;
    font-size: 15px;
    color: #999999;
}
.distance_top{
    border-bottom: 1px solid #F6F6F6;
    padding: 10px 10px 10px 0px;
    margin-left: 10px;
    font-size: 16px;
}
.distance_top img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.distance_top p{
    color: black;
    font-size: 18px
}
.distance_top span{
    color: #999999;
    font-size: 14px;
    padding-left: 5px;
}
.section_item .rongqi2{
    width: 150px;
    height: 130px;
    border-radius: 8px 8px 8px 8px;
}
.section_item .rongqi2 img{
    height:130px;
    width:147px
}
.distance_buttom{
    padding:0px 10px;
    display: flex;
    margin-top: 10px;
    justify-content:space-between;
    background-color: white;

}
.distance_buttom_1 span{
    color: #0f90fe;
    font-size: 14px;
}
.distance_buttom_2 span{
    color: #999999;
    font-size: 14px;
}
.distance_buttom_2 img{
    width: 20px;
    height: 20px;
}


/*尾部*/
footer{
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 1300;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 50px;
    border-top: 1px solid  #e6e6e6;
}
footer .footer_item{
    width: 33.333%;
    height: 100%;
    padding-bottom: 5px;
    text-align: center;
    float: left;
}
.footer_item img{
    width: 23px;
    height: 25px;
    margin:5px 0;
}
.footer_item div{
    font-size: 14px;
    line-height: 10px;
}
footer .footer_item a{
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: block;
}
.active{
    color: #ff4c82;
}


/*VIP商家*/
.VIPbusiness{
    padding: 10px;
    height: 50px;

}
.VIPbusiness_left{
    width: 60px;
    float: left;
    height: 60px;
}
.VIPbusiness_left .absolute{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}
.VIPbusiness_left .relation{
    position: relative;
    top: 25px;
    left: 18px;
    width: 35px;
    height: 32px;
}

.VIPbusiness_middle{
    width: 50%;
    float: left;
    color: black;
    line-height: 1.6em;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}
.VIPbusiness_middle span{
    color: #999999;
    font-size: 14px;
}
.VIPbusiness_middle input{
    margin-left: 5px;
    margin-top: -5px;
    background-color:white;
    border: 1px solid #ff4c82;
    color:#ff4c82;
    height: 20px;
    width: 60px;
    font-size: 14px;
    border-radius: 8px 8px 8px 8px;
}
.VIPbusiness_right{
    width: 25%;
    float: right;
    font-size: 14px;
    color: #ff4e82;
    text-align: right;
}

/*商家详情*/
.businessDetails_header{
    padding: 10px;
    /*width: 70%;*/
    margin: auto;
    text-align: center;
}


/*兴趣圈*/
.inter{
    width: 100%;
    display: flex;
    overflow-x: auto;
}
.inter_item{
    width: 100%;
    margin: 10px;
}
.inter::-webkit-scrollbar {
    display: none;
}
.inter_item .inter_list{
    width: 100px;
    height: 120px;
    text-align: center;

}

.inter_item .inter_list img{
    width: 100px;
    height: 100px;

}
.inter_item .inter_list span{
    bottom: 10px;
}

.mengban{
    position: relative;

    /*z-index: 1;*/
    top: -123px;
    color:white;
    height: 20px;
    line-height: 20px;
    font-size: 13px;

    background-color: #c0c0be;
    width: 100px  ;
    text-align: right  ;
    opacity: 0.7;
}
.footbut{
    position: fixed;
    bottom: 0px;
    padding: 0px 15px;
    width: 100%;
    z-index: 12;
    border-top: 1px solid #F6F6F6;
    padding-bottom: 10px;
    border-top: 1px solid #F6F6F6;

}
.but_1{
    /*background-color: cyan;*/
    margin-top:10px;
    height: 40px;
    line-height: 40px;
    width: 45%;
    border-radius: 4px 4px 4px 4px;
}
.textcontent{
    margin: 0px 15px 10px 15px;
}
.service-time-label{
    line-height: 1.6252rem;
    background: #D2D2D2;
    color: #fff;
    font-size: 10px;
    border-radius: 0.24375rem;
    margin-top: 1.625rem;
    padding: 5px;
}
.chat_left{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-right: 40px;
    margin-bottom: 10px;
    float: left;
}
.chat-right{
    margin-left: 40px;
}
.hide{
    display: none;
}
.imgs{
    margin-right: 5px;
    margin-top: 5px;
    width: 45px;
    height: 45px;
}
.chat_l{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: 20px;
}
.c_1{
    padding: 5px;
    margin: 5px;
}
.c_2{
    padding: 5px;
}

.phone{
    margin: 15px;
    padding: 10px 15px;
}
.p_list1{
    float: left;
    width: 70%;

}
.p_list2{
    float: right;
    width: 26%;
    height:90px;
    line-height: 80px;
    /*border-left: 1px solid #e6e6e6;*/
}



