<extend name="Public/base" />

<block name="main">
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <button class="btn btn-success href" url="{:U('SpecialStage/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-danger confirm ajax-post" url="{:U('SpecialStage/delete',array('model'=>'SpecialStage','status'=>9))}" target-form="ids">删 除</button>&nbsp;
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/></th>
                            <th>ID</th>
                            <th>专场名称</th>
                            <th>专场类型</th>
                            <th>排序</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['stage_name']}</td>
                                <td>
                                    <eq name="row['type']" value="1">普通专场</eq>
                                    <eq name="row['type']" value="2">九块九专场</eq>
                                    <eq name="row['type']" value="3">品牌优选专场</eq>
                                </td>
                                <td class="single-edit" data-model="SpecialStage" data-id="{$row['id']}" data-field="sort">{$row['sort']}</td>
                                <td>{$row['create_time']|date='Y-m-d',###}</td>
                                <td>
                                    <a href="{:U('SpecialStage/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-success">编辑</span></a>&nbsp;
                                    <a href="{:U('SpecialStage/delete',array('model'=>'SpecialStage','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
