<extend name="Public/base" />

<block name="main">
    <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <link rel="stylesheet" href="__CSS__/index.css">
    <div class="row-fluid">
        <div class="search-main">
            <form action="{:U('Index/index')}" method="post" class="form">
                <div class="search-frame-main">
                    <input type="text" class="search-frame form_date_picker" name="start_time" value="{$_REQUEST['start_time']}" placeholder="开始时间">
                    <input type="text" class="search-frame form_date_picker" name="end_time" value="{$_REQUEST['end_time']}" placeholder="截止时间">
                    <button class="btn btn-info" style="margin:4px 10px;">查询</button>
                </div>
            </form>
        </div>
    </div>
    <div id="container" style="margin-bottom: 10px"></div>
    <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '日注册统计',
                    x: -20 //center
                },
                subtitle: {
                    text: '',
                    x: -20
                },
                xAxis: {
                    categories: {$xAxis}
                },
                yAxis: {
                    title: {
                        text: '单位：人'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '人'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: {$yAxis}
            });
            });
    </script>
</block>
