<extend name="Public/base" />

<block name="main">
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title widget-title-search">
                    <!--<button class="btn btn-success href" url="{:U('Member/add')}" target-form="ids">新增</button>&nbsp;-->
                    <!--<button class="btn btn-inverse ajax-post" url="{:U('Member/forbid',array('model'=>'Member','status'=>0))}" target-form="ids">禁用</button>&nbsp;-->
                    <!--<button class="btn btn-info ajax-post" url="{:U('Member/resume',array('model'=>'Member','status'=>1))}" target-form="ids">启用</button>&nbsp;-->
                    <button class="btn btn-danger confirm ajax-post" url="{:U('Member/delete',array('model'=>'Member','status'=>9))}" target-form="ids">删 除</button>&nbsp;
                </div>
                <!--// search start-->
                <div class="search-main">
                        <form action="{:U('Member/index')}" method="post" class="form">
                        <div class="search-frame-main">
                            <input type="text" class="search-frame" name="id" value="{$_REQUEST['id']}" placeholder="会员ID">
                            <input type="text" class="search-frame" name="account" value="{$_REQUEST['account']}" placeholder="账号">
                            <input type="text" class="search-frame form_date_picker" name="start_time" value="{$_REQUEST['start_time']}" placeholder="开始时间">
                            <input type="text" class="search-frame form_date_picker" name="end_time" value="{$_REQUEST['end_time']}" placeholder="截止时间">
                        </div>

                        <div class="search-btn">
                            <button class="btn btn-inverse" style="margin:4px 10px;">查询</button>
                        </div>
                    </form>
                </div>
                <!--// search end-->
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/></th>
                            <th>ID</th>
                            <th>账号</th>
                            <th>账号类型</th>
                            <th>昵称</th>
                            <th>余额</th>
                            <th>注册时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['account']}</td>
                                <td>
                                    <eq name="row['type']" value="0">普通会员</eq>
                                    <eq name="row['type']" value="1">普通商家</eq>
                                    <eq name="row['type']" value="2">VIP商家</eq>
                                </td>
                                <td>{$row['nickname']}</td>
                                <td>{$row['balance']}</td>
                                <td>{$row['create_time']|date='Y-m-d H:i',###}</td>
                                <td>{$row['status']|get_status_title}</td>
                                <td>
                                    <a href="{:U('Member/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-success">编辑</span></a>&nbsp;
                                    <a href="{:U('Member/delete',array('model'=>'Member','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
