<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab1">基本信息</a></li>
                        <!--<li><a data-toggle="" href="{:U('Member/rePass',array('id'=>$row['id']))}">修改密码</a></li>-->
                    </ul>
                </div>
                <div class="widget-content tab-content nopadding">
                    <div id="tab1" class="tab-pane active">
                    <form class="form-horizontal" method="post" action="{:U('Member/update')}">
                        <input type="hidden" name="model" value="Member"><input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">账号</label>
                            <div class="controls">
                                <input type="text" name="" value="{$row['account']}" disabled>
                                <span class="help-block">账号必须是手机号</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">昵称</label>
                            <div class="controls">
                                <input type="text" name="nickname" value="{$row['nickname']}" >
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">余额</label>
                            <div class="controls">
                                <input type="text" name="balance" value="{$row['balance']}" disabled>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">账户类型</label>
                            <div class="controls">
                                <eq name="row['type']" value="0">
                                    <input type="text" name="type" value="普通会员" disabled>
                                </eq>
                                <eq name="row['type']" value="1">
                                    <input type="text" name="type" value="普通商家" disabled>
                                </eq>
                                <eq name="row['type']" value="2">
                                    <input type="text" name="type" value="VIP商家" disabled>
                                </eq>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">注册时间</label>
                            <div class="controls">
                                <input type="text" name="" value="{$row['create_time']|date='Y-m-d H:i',###}" disabled>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <eq name="row['approve_status']" value="1">
                            <div class="control-group">
                                <label class="control-label">审核成为商家：</label>
                                <div class="controls">
                                    <select id="approve_status" name="approve_status" class="form-control input-sm">
                                        <option value="0">选择状态</option>
                                        <option value="2">审核通过</option>
                                        <option value="3">审核拒绝</option>

                                    </select>
                                </div>
                            </div>
                        </eq>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                    </div>
                    <div id="tab2" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
</block>
